.dark-light-switch {
  position: absolute;
  top: 20px;
  right: 3rem;
  z-index: 1;
  cursor: pointer;
}

.main {
  width: 100%;
  min-height: calc(50vh - 0.6rem);
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
}

.highlighted {
  border-bottom: 7px solid #22289a;
}

.hero-section {
  width: 100%;
  min-height: 50vh;
  position: relative;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: flex-end;
  padding-top: 4rem;
}

.hero-section .hero-content h1 {
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 0;
}

.hero-section .hero-content p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.hero-section .hero-content {
  position: absolute;
  z-index: 1;
}

.hero-section .hero-image {
  width: auto;
  position: relative;
  text-align: end;
}

.hero-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.footer a {
  color: rgb(253, 103, 48);
  font-weight: 700;
  text-decoration: none;
}

.footer a:hover {
  color: rgb(255, 68, 0);
}

@media only screen and (min-width: 608px) {
  .hero-container {
    flex-wrap: nowrap;
  }

  .hero-section .hero-content {
    position: relative;
  }

  .hero-section .hero-image {
    text-align: center;
  }
}
