.dark-light-switch {
  position: absolute;
  top: 20px;
  right: 3rem;
  z-index: 1;
  cursor: pointer;
}

.main {
  width: 100%;
  min-height: calc(50vh - 0.6rem);
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
}

.highlighted {
  border-bottom: 7px solid #22289a;
}
